nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(64, 144, 102);
  gap: 45px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

nav a:hover {
  color: rgb(244, 124, 228);
}

nav a svg {
  margin-right: 5px;
}
